
body{
    background-color: black;
    padding: 5%;
    font-family: "roboto";
}

p {
    font-size: small;
}

.post{
    height: 500px;
    width: 365px;
    margin: auto;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}
  
.left-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.text-header .icono-html {
    margin: 10px;
}

.icono-html {
    font-size: x-large;
}

.text-header > p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    padding: 0;
}

.icono-menu {
    font-size: x-large;
}

.post-img{
    height: 55%;
    background-color: white;
}
.picture{
    object-fit: cover;
    width:100%;
    height:100%;
}

.post-body{
    height: 35%;
    text-align: left;
    background-color: white;
}

.post-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: white;
    font-size: x-large;
}
  
.left-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-icons > div { /* Selecciona todos los hijos directos de left-icons */
    margin-right: 5px;
}

.text-body {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}

